################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/JeuTaquinConsole/bin/Debug/net5.0
/JeuTaquinConsole/obj
/JeuTaquinConsole/.vs/JeuTaquinConsole
